.container {
  max-width: 900px;
  align-items: center;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 20px; /* Примерное значение отступа */
  }
}

.element {
  font-size: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .element {
    font-size: 1.5rem; 
    padding: 2rem;     
  }
}

.block {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
}
.content {
    display: none;
    margin-top: 5px;
  }
  .content.show {
    display: block;
  }
  .nested-block {
    background-color: #e0e0e0;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .nested-content {
    display: none;
    margin-left: 10px;
  }
  .nested-content.show {
    display: block;
  }
.color-gold {
    background-color: rgba(255, 255, 0, 0.3);
}
.color-green {
    background-color: rgba(0, 255, 255, 0.3);
}
.color-red {
    background-color: rgba(255, 0, 0, 0.3);
}
.color-blue {
    background-color: rgba(100, 100, 255, 0.3);
}
.padding {
    padding: auto;
    margin: 0;
}
.active {
    display: block;
}