code {
  margin: 0;
  padding: 0;
}
select {
  margin-left: 20px;
}
.container {
  margin: 0;
  padding: 0  ;
  max-width: 900px;
  align-items: center;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}
.element {
  font-size: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .element {
    font-size: 1.5rem; 
    padding: 0rem;     
  }
}

.block {
    background-color: #fffff1;
    padding: 5px;
    cursor: pointer;
    font-size: 16px; 
    border: 2px solid rgb(218, 212, 253);
    box-sizing: border-box;
    font-weight: bold;
}
.content {
  display: none;
  margin-top: 5px;
}
.content.show {
  display: block;
}
.nested-block {
  background-color: rgb(255, 248, 240);
  padding: 5px;
  margin-bottom: 0px;
  cursor: pointer;
  border-left: 2px solid rgb(253, 212, 239); 
  border-bottom: 2px solid rgb(253, 212, 239);
  box-sizing: border-box;
  font-weight: normal;
}
.nested-block::before {
  content: "(•) "; 
}
.nested-content {
  display: none;
  margin-left: 2px;
  background-color: rgb(246, 243, 239);
}
.nested-content.show {
  display: block;
}

.active {
    display: block;
}